containerdata/mysql/data/*
containerdata/mysql/mysql_dump/*
!containerdata/mysql/mysql_dump/db_base.zip
containerdata/solr/cores/*
!containerdata/solr/cores/.gitkeep
containerdata/dam/dam_storage/*
!containerdata/dam/dam_storage/.gitkeep
containerdata/dam/dam_upload/*
!containerdata/dam/dam_upload/.gitkeep
containerdata/dam/original_storage/*
!containerdata/dam/original_storage/.gitkeep
containerdata/metafad/export/*
!containerdata/metafad/export/.gitkeep
containerdata/metafad/import/*
!containerdata/metafad/import/.gitkeep
containerdata/metafad/mag/*
!containerdata/metafad/mag/.gitkeep
containerdata/metafad/mag_export/*
!containerdata/metafad/mag_export/.gitkeep
containerdata/metafad/storage/*
!containerdata/metafad/storage/.gitkeep
containerdata/metafad/unimarc/*
!containerdata/metafad/unimarc/.gitkeep
containerdata/cantaloupe/*
!containerdata/cantaloupe/.gitkeep
containerdata/portale/mediaArchive/*/*
!containerdata/portale/mediaArchive/Archive/.gitkeep
!containerdata/portale/mediaArchive/Audio/.gitkeep
!containerdata/portale/mediaArchive/Image/.gitkeep
!containerdata/portale/mediaArchive/Office/.gitkeep
!containerdata/portale/mediaArchive/Other/.gitkeep
!containerdata/portale/mediaArchive/Pdf/.gitkeep
!containerdata/portale/mediaArchive/Video/.gitkeep
app/
.env
.vscode
